<style type="text/css">
<!--
  body
      {
        font-family:Verdana,Arial,Helvetica;
        font-size:12px;
        color:#FDE7BF;
        background-color:#604646;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
      }
  td
      {
        font-family:Verdana,Arial,Helvetica;
        font-size:13px;
        text-align:left;
        color:#FDE7BF;
      }
  .td_page_caption
      {
        background:#998866;
        font-family:Verdana,Arial,Helvetica;
        font-size:20px;
        text-align:left;
        color:#FDE7BF;
      }
  A
      {
        color:#FFD58C;
        text-decoration:none;
        font-weight:bold;
      }
  A:hover
      {
        color:#8CD0FF;
        text-decoration:none;
        font-weight:bold;
      }
  A.colored_link
      {
        color:#FFD58C;
        text-decoration:none;
        font-weight:bold;
      }
  A.colored_link:visited
      {
        color:#FFD58C;
        text-decoration:none;
        font-weight:bold;
      }
  A.colored_link:hover
      {
        color:#8CD0FF;
        text-decoration:none;
        font-weight:bold;
      }
  .colored_link
      {
        color:#8CD0FF;
        text-decoration:none;
        font-weight:bold;
      }
  .p_link
      {
        font-family:Verdana,Arial,Helvetica;
        font-size:9pt;
        text-align:left;
        margin-left:0px;
        margin-top:0px;
        line-height:20px;
        font-weight:bold;
        color:#FFD58C;
      }
  .p_link_news
      {
        font-family:Verdana,Arial,Helvetica;
        font-size:12px;
        text-align:center;
        margin-left:0px;
        margin-top:0px;
        line-height:14px;
        font-weight:bold;
        color:#FFD58C;		
      }
  .p_news_date
      {
        margin-left:0px;
        margin-top:0px;
        margin-bottom:8px;
        line-height:12px;
        font-weight:bold;
        text-decoration:none;
        border-bottom:2px;
      }
  .p_news_text
      {
        margin-left:0px;
        margin-top:4px;
        line-height:10px;
        font-family:Verdana,Arial,Helvetica;
        font-size:10px;
        font-weight:normal;
        text-align:left;
        text-decoration:none;
        color:#FDE7BF;
      }
-->	  
</style>
