main > div.wrapper > div.collections > ul {
        display: block;
        list-style-type: square;
        margin-block-start: 1.5em;
        margin-block-end: 1.5em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        font: normal 1em/1.5em serif;
	}

@media only screen and (max-width: 960px) {
	main > div.wrapper > div.frontimage {
		text-align: center;
	}
	main > div.wrapper > div.frontimage > img {
		max-width: 90%;
		height: auto;
	}
	main > div.wrapper > div.collections > ul.mob-link-block > li > a,
	main > div.wrapper > div.collections > ul > li > ul.mob-link-block > li > a {
		display:block;
		border: 1px solid #fefeee;
		margin-block-start: .5em;
		margin-block-end: .5em;
		padding: 1em 2em;
	}
	main > div.wrapper > div.collections > ul > li > ul.mob-link-block {
		list-style-type: none;
		padding-inline-start: 0;	 			
	}
	main > div.wrapper > div.collections > ul.mob-link-block {
		list-style-type: none;
	}
}

@media only screen and (min-width: 961px) {

	nav, main {
		display: table;
		border-spacing: 5px;
	}
	nav > div, main > div.wrapper > div {
		display: table-cell;
		vertical-align: middle;
	}
	main {
		height: 471px;
	}
	main > div.wrapper {
		display: table-row;
		height: 460px;
	}
	main > div.wrapper > div.abstract {
		width: 33%;
		height: 460px;
		text-align: center;
	}
	main > div.wrapper > div.frontimage {
		width: 33%;
		text-align: center;
		height: 460px;
	}
	main > div.wrapper > div.frontimage > img {
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		height: 450px;
	}
	main > div.wrapper > div.collections {
		width: 34%;
		height: 460px;
		text-align: left;
	}

}
