img2 {
  padding: 3px 3px 7px 3px; 
  background: white url(shad_bottom.png) repeat-x bottom left;
  }
img1 {
  padding: 5px 5px 9px 5px 
  background: white url(shad_bottom.png) repeat-x bottom left;
 }

 img {
   background: #FFFFFF; 
   padding: 4px; 
   border-left: 1px solid #84afa3;
   border-bottom: 3px solid #78756d; 
   border-right: 3px solid #78756d;
   }