body {
        color: #333380;
        background-color: #fefeee;
}

a:link {
        color: #000090;
}
a:visited {
        color: #888888;
}
a:link.announce {
        color: #008800;
        font-weight: bold;
}
.datum {color: red;}



main,nav,header,footer {
        width: 100%;
        margin: 5px 0;
        box-sizing: border-box;
}
header,footer {
        margin-bottom: 32px;
        text-align: center;
}
h1 {
        font: normal 2em serif;
        margin-bottom: 0;
}
h1 > a {text-decoration: none;}
h3 {
        margin-top: 1em;
}
nav > div, main > div.wrapper > div {
        border-width: 1px;
        border-color: #fefeee;
        border-style: solid;
        padding: 5px;
}
.cornernav {
	list-style-type: none;
	line-height: 150%;
	}
@media only screen and (max-width: 960px) {

        nav, main {
                padding: 5px 0;
        }
        nav > div, main > div.wrapper > div {
                display: block;
                padding: 20px 10px;
                margin: 5px;
        }
}
@media only screen and (min-width: 961px) {
        .centered, body {
                margin: 0 auto;
        }
        .centertext {
                text-align: center;
        }
}
@media only screen and (min-width: 1600px) {
	body {
		width: 90%;
	}
}
@media only screen and (min-width: 1980px) {
	body {
		width 80%;
	}
}
