<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "headbasic.html" . }}

<style>
a:link {
	color: #006600;
}
a:visited {
	color: #002200;
}
</style>

</head>
<body>
  <header>
<a name="top"> </a>
<ul class="cornernav">
	<li>[<a href="index.html">На главную страницу</a>]</li>
	<li>[<a href="bio.html">О Михаиле Щербакове</a>]</li>
	<li>[<a href="#disclaimers">Disclaimers</a>]</li>
</ul>
<h1>{{ .Title }}</h1>
  </header>
  <main>
{{ .Content }}
  </main>
<ul class="cornernav">
	<li>[<a href="#top">Наверх</a>]</li>
	<li>[<a href="index.html">На главную страницу</a>]</li>
</ul>
</body>
</html>
