<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="icon" href="{{ "favicon.ico" | relURL }}">
<title>{{ .Title }} - текст, аккорды</title>
<style>
    /* По умолчанию (без JS) показываем только source */
    .view-container {
        display: none;
    }
    .viewtype-source {
        display: block;
    }
    #settings {
        display: none;
    }
</style>
{{ with resources.Get "css/common.css" -}} 
	<link rel="stylesheet" href="{{ .RelPermalink }}" />
{{ end -}} 
{{ with resources.Get "css/songpage.css" -}}
	<link rel="stylesheet" href="{{ .RelPermalink }}" />
{{- end }}
{{ with resources.Get "css/transpose.css" -}}
    <link rel="stylesheet" href="{{ .RelPermalink }}" />
{{- end }}
{{ with resources.Get "js/viewtype.js" -}}
    <script type="text/javascript" src="{{ .RelPermalink }}"></script>
{{ end }}
</head>
<body>
<header style="margin-bottom: 18px">
	<p style="font-size: 1.6em; margin-bottom: 0"><a href="{{ "/" | relURL }}" style="font-weight: 700; text-decoration: none; color: #333380">{{ .Site.Title }}</a></p>
</header>
{{- partial "menu.html" (dict "menuID" "ctgheadermenu" "page" .) }}
<main>

        <div class="wrapper">
                    <div id="settings">
                    <button id="side">акк. справа</button>
                    <button id="above">акк. сверху</button>
                    <button id="text">текст</button>
                    <button id="source">исходник</button>
                        {{ if gt (int .Params.chordsStartAt) 0 }}
                            <span id="toggleChords" class="note1" title="скрыть/показать аккорды"></span>
                        {{ end }}

                        <p style="display:inline";>
                            <details style="display:inline;">
                                <summary>траспонировать</summary>
                                <span class="transpose-wrapper"></span>
                            </details>
                        </p>
                    </div>
                    {{ partial "song.html" .Params }}
                    <noscript>To use more friendly view turn on javascript.</noscript>
        </div>
</main>

{{ partial "head/songpage.js.html" . }}
</body>
</html>
