<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ with .Params.name }}{{ . }}{{ else }}{{ printf "%s. %s" site.Title .Title }}{{ end }}</title>
<style>
{{- partial "css/common.html" | safeCSS -}}
{{ partial "css/catalogue.css.html" | safeCSS }}
{{ partial "css/transposer.css.html" | safeCSS }}
</style>
        {{ partial "css/transposer.css.html" . }}
{{ partialCached "head/js.html" . }}
{{ partialCached "head/transposer.js.html" . }}
</head>
<body>
<header>
<h1>{{ .Params.name }}</h1>
<h2>{{- .Params.subtitle -}}</h2>
</header>
{{- partial "menu.html" (dict "menuID" "ctgheadermenu" "page" .) }}
<main>
<div>
        <div class="wrapper">
                <div>
{{ $path := printf "texts/%s.txt" .Params.id }}
{{ if os.FileExists $path }}
    <pre data-key="{{ .Params.tonality }}">{{ os.ReadFile $path }}</pre>
{{ end }}
{{ .Content }}
                </div>
        </div>
</div>
</main>


</body>
</html>
