<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ with .Params.name }}{{ . }}{{ else }}{{ printf "%s. %s" site.Title .Title }}{{ end }}</title>
<style>
{{- partial "css/common.html" | safeCSS -}}
{{ partial "css/catalogue.css.html" | safeCSS }}

</style>
    {{ partial "css/songpage.css.html" | safeHTML }}
{{ partial "head/songpage.js.html" . }}
</head>
<body>
<header>
<h1>{{ .Params.name }}</h1>
<h2>{{- .Params.subtitle -}}</h2>
</header>
{{- partial "menu.html" (dict "menuID" "ctgheadermenu" "page" .) }}
<main>
<div>

        <div class="wrapper">
                <div>
                    <div id="settings">
                    {{ if gt (int .Params.chordsStartAt) 0 }}
                        <span id="toggleChords" class="note1" title="Скрыть/показать аккорды"></span>
                    {{ end }}
                    </div>
                    <p style="display:inline";><details style="display:inline;"><summary>Траспонировать</summary>
                        <span class="transpose-wrapper">

                        </span>
                    </details></p>

                    {{ partial "song.html" .Params }}

                </div>
        </div>
</div>
</main>


</body>
</html>
