<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ printf "%s. %s" site.Title .Title }}</title>
<style>
{{- partial "css/common.html" | safeCSS -}}
{{ partial "css/catalogue.css.html" | safeCSS }}
{{ partial "css/songpage.css" | safeCSS }}
</style>
</head>
<body>
<header>
	<p><b>{{ .Site.Title }}</b></p>
	<p><small><em>{{- .Site.Params.subtitle -}}</em></small></p>
</header>
{{- partial "menu.html" (dict "menuID" "ctgheadermenu" "page" .) }}
<main>
<div>

        <div class="wrapper">
                <div>
                    <div id="settings">
                    {{ if gt (int .Params.chordsStartAt) 0 }}
                        <span id="toggleChords" class="note1" title="Скрыть/показать аккорды"></span>
                    {{ end }}
                    </div>
                    <p style="display:inline";><details style="display:inline;"><summary>Траспонировать</summary>
                        <span class="transpose-wrapper">

                        </span>
                    </details></p>

                    {{ partial "song.html" .Params }}

                </div>
        </div>
</div>
</main>

{{ partial "head/songpage.js.html" . }}
</body>
</html>
