<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ with .Params.name }}{{ . }}{{ else }}{{ printf "%s. %s" site.Title .Title }}{{ end }}</title>
<style>
{{- partial "css/common.html" | safeCSS -}}
{{ partial "css/catalogue.css.html" | safeCSS }}
</style>
{{ partialCached "head/js.html" . }}
</head>
<body>
<header>
<h1>{{ .Params.name }}</h1>
<h2>{{- .Params.subtitle -}}</h2>
</header>
{{- partial "menu.html" (dict "menuID" "ctgheadermenu" "page" .) }}
<main>
<div>
        <div class="wrapper">
                <div>
                        <div class="search js-only centertext">
                                Задать фильтр:
                                <input type="text" id="search" placeholder="название, диск, год..." autofocus>
                                <button id="clear-search">сброс</button> &emsp; &emsp;
                                Сортировать вывод:
                                <button id="alphabetname">по названиям</button>
                                <button id="alphabetical">по первым словам</button>
                                <button id="chronological">по годам</button>
                        </div>

{{ $url := printf "%s%s?%s&%s" site.Params.directus.url site.Params.directus.songs site.Params.directus.token "fields=id,sort,incipit,fincipit,name,fname,year,edit,hidden&limit=-1" }}
{{ $songs := dict }}
{{ $songs = resources.GetRemote $url }}
{{ $url }}
<br />
{{ $song := dict }}
{{ $song = $songs | transform.Unmarshal }}
$songs:
{{ $songs }}
<br />
<table border="1">
{{ range $song.data }}
{{ if not .hidden }}
<tr>
	<td>{{ .id }}</td><td>{{ .fincipit }}</td><td>{{ .name }}</td><td>{{ .sort }}</td><td>{{ .incipit }}</td><td>{{ .fname }}</td><td>{{ .year }}</td><td>{{ .edit }}</td><td>{{ .hidden }}</td>
</tr>
{{- end -}}
{{- end }}
			</table>
                </div>
        </div>
</div>
</main>
</body>
</html>
