<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
</head>
<body>
    <h1>{{ .Title }}</h1>

    {{/* Получаем JSON-файл как ресурс */}}
    {{ $jsonFile := resources.Get "data/mydata.json" }}
    
    {{/* Преобразуем JSON в объект с помощью transform.Unmarshal */}}
    {{ $parsedData := $jsonFile | transform.Unmarshal }}
    
    {{/* Проверяем, что данные успешно обработаны */}}
    {{ if $parsedData }}
        <ul>
            {{/* Перебираем элементы массива "items" */}}
            {{ range $parsedData.items }}
                <li>
                    <strong>{{ .name }}</strong>: {{ .value }}
                </li>
            {{ end }}
        </ul>
    {{ else }}
        <p>Не удалось загрузить данные.</p>
    {{ end }}
</body>
</html>
