main > div {
		width: 100%;
		margin: 0;
}
h2 {
		font: italic normal 1.2em serif;
		margin-top: 0;
}
main,nav {
		background-color: #ddddcc;
}
nav > div, main > div > div.wrapper > div {
		border-width: 1px;
		border-color: #fefeee;
		border-style: solid;
		padding: 5px;
}
#settings {
	margin-bottom: .3em
}
nav > div {
		text-align: center;
		}
div.wrapper ul {
		display: block;
		margin-block-start: 1.5em;
		margin-block-end: 1.5em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		padding-inline-start: 40px;
		font: normal 1em/1.5em serif;
}

H1 {
	font-size: 1.8em;
	text-transform: uppercase;
	font-weight: 700;
}

pre {
	max-width: 100%;
	overflow-x: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
	box-sizing: border-box;
}

.view-container {
	display: none;
	padding: 0 20px !important;
}

.view-container.active {
    display: block !important;
}

.button-viewtype {
	border: 1px solid #fefeee;
	border-radius: .2em;
	background-color: inherit;
	padding-block: .5em;
	padding-inline: 1.5em;
	margin: .2em 0 .2em .1em;
	font-size: .8em;
	color: #333333;
}
.button-viewtype.active {
	background-color: #fefeee;
}
.button-group {
	display: inline-block;
	border: 0 solid #fefeee;
	border-radius: .2em;
	background-color: inherit;
	padding-inline: .5em;
	padding-block: .3em;
	margin: .5em .2em .5em .1em;
	color: #666666;
}
.button-group .button-viewtype {
	margin: .2em 0;
	padding-inline: .6em;
}
.button-label {
	margin: 0 .3em 0 .3em;
	font-family: sans-serif;
	font-size: .8em;
}
#transposer:hover,
#transposer:active
 {
	background-color: #fefeee;
}
.button-viewtype:hover {
	cursor: pointer;
}
.button-viewtype.active:hover {
	cursor:default; 
}
.year {
	color:#666666;
}
@media screen {
	.ch {
		font-weight: bold;
    	color: #2159D6;
	}
}

@media print {
    #settings {
        display: none !important;
    }
	header, nav {
		display: none;
	}
}

@media only screen and (width <= 70em) {
	body {
		font-size: 1em;
		line-height: 1.2;
	  }
	nav, main {
		padding: 5px 0;
	}
	nav > div, main > div > div.wrapper > div {
		padding: 2em;
		margin: 1em;
	}
	ul.mob-link-block > li > a {
		display:block;
		border: 1px solid #fefeee;
		margin-block-start: .5em;
		margin-block-end: .5em;
		padding: 1em 2em;
	}
	div.wrapper ul, ul.mob-link-block {
		list-style-type: none;
	}
}

@media only screen and (width > 70em) {
	body {
		font-size: 16px;
	}
	.centered {
		margin: 0 auto;
	}
	.centertext {
		text-align: center;
	}
	nav, main > div {
		display: table;
		border-spacing: 5px;
	}
	nav > div, main > div > div.wrapper > div {
		display: table-cell;
		vertical-align: middle;
	}
	main > div > div.wrapper {
		display: table-row;
	}
	div.wrapper ul {
		list-style-type: square;
		font: normal 1em/1.5em serif;
	}
}
