{{ $url := printf "%s%s?%s&%s&%s&%s"
		site.Params.directus.url
		"items/events/"
		site.Params.directus.token
		"limit=-1"
		"fields=id,name,status,date,year,dw,country,town,state,place,day_evening,with_mls,comment,description,author_intro,plays_mls_keyboard,performers,set_id,is_studio"
		"filter%5Bis_studio%5D%5B_eq%5D=false"
		}}
{{ $data := dict }}
{{ with try (resources.GetRemote $url) }}
	{{ with .Err }}
		{{ errorf "Unable to get remote resource %q" $url }}
	{{ else with .Value }}
		{{ with try ( . | transform.Unmarshal ) }}
			{{ with .Err }}
				{{ errorf "%s" . }}
			{{ else with .Value }}
				{{ $data = . }}
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}

{{ return $data }}
