{{ $id := . }}
{{ $url := printf "%s%s?%s&%s&%s"
		site.Params.directus.url
		"items/works/"
		site.Params.directus.token
		"fields=id,is_poem"
		(printf "filter%%5Bid%%5D%%5B_eq%%5D=%s" $id)
		}}
{{ $data := dict }}
{{ with try (resources.GetRemote $url) }}
	{{ with .Err }}
		{{ errorf "Unable to get remote resource %q" $url }}
	{{ else with .Value }}
		{{ with try ( . | transform.Unmarshal ) }}
			{{ with .Err }}
				{{ errorf "%s" . }}
			{{ else with .Value }}
				{{ $data = . }}
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}

{{ return $data }}
