{{ $url := printf "%s%s?%s&%s&%s&%s"
		site.Params.directus.url
		"items/books/"
		site.Params.directus.token
		"limit=-1"
		"fields=id,name,fullname,pages,isbn,bibliography,publisher,year,annotation,sort,series.id,series.name,series.description,series.sort"
		"filter[status][_eq]=published&sort=sort,year"
		}}
{{ $data := dict }}
{{ with try (resources.GetRemote $url) }}
	{{ with .Err }}
		{{ errorf "Unable to get remote resource %q" $url }}
	{{ else with .Value }}
		{{ with try ( . | transform.Unmarshal ) }}
			{{ with .Err }}
				{{ errorf "%s" . }}
			{{ else with .Value }}
				{{ $data = . }}
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}

{{ return $data }}
