{{- /* Справочник форматов дисков из Directus (коллекция disk_formats), по порядку sort: список dict id/short/full/path */ -}}
{{ $url := printf "%s%s?%s&%s&%s&%s"
		site.Params.directus.url
		"items/disk_formats/"
		site.Params.directus.token
		"limit=-1"
		"fields=id,short,full,path"
		"sort=sort"
		}}
{{ $data := slice }}
{{ with try (resources.GetRemote $url) }}
	{{ with .Err }}
		{{ errorf "Unable to get remote resource %q" $url }}
	{{ else with .Value }}
		{{ with try ( . | transform.Unmarshal ) }}
			{{ with .Err }}
				{{ errorf "%s" . }}
			{{ else with .Value }}
				{{ $data = .data }}
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}

{{ return $data }}
