<h1>{{- site.Title }}</h1>
    <h2>({{- site.Params.Subtitle }})</h2>
{{- partial "burger.html" }}
{{- with site.GetPage "news" }}
          {{- if .Param "showAnnounce" }}
                  {{- with partial "announces.html" }}
    <ul class="announce">
                                {{- range . }}
      <li>{{- . }}</li>
                                {{- end }}
    </ul>
                  {{- end }}
          {{-  end }}

{{- end }}
{{- partial "menu.html" (dict "menuID" "indexheadermenu" "page" . "navClass" "top-menu") }}
