{{- $pageParams := . -}}
{{- $newLines := slice -}}
{{- $newLinesAfter := slice -}} 
{{- $tonality := "Hm" -}}
{{- $path := printf "texts/%s.txt" .id -}}

{{- with resources.Get $path -}}
    {{- $cont := .Content -}}
    {{- if and (isset $pageParams "tonality") (ne $pageParams.tonality "") -}}
        {{- $tonality = $pageParams.tonality -}}
    {{- else -}}
        {{- $reg := `(?s)[A-H][b\#]?(2|4|5|6|7|9|11|13|6\/9|7\-5|7\-9|7\#5|7\#9|7\+5|7\+9|b5|#5|#9|7b5|7b9|7sus2|7sus4|add2|add4|add9|aug|dim|dim7|m\/maj7|m6|m7|m7b5|m9|m11|m13|maj7|maj9|maj11|maj13|mb5|m|sus|sus2|sus4)*(\/[A-H][b\#]*)*` -}}
        {{- $tonality = delimit ( findRE $reg $cont 1 ) "" -}}
    {{- end -}}

    {{- $lines := split $cont "\n" -}}                                          {{/* массив строк $lines из $cont разбитого по \n */}}
    {{- $lastIndex := math.Sub (len $lines) 1 -}}                               {{/* преобразование количества строк в 0-based */}}
    {{- $pos := int ( math.Max 0 (sub (int $pageParams.chordsStartAt)  1) ) -}} {{/* позиция старта аккордов в строке (с защитой от отр.) */}}
    {{- range $k, $v := $lines -}}                                              {{/* проход по строкам */}}
        {{- $line := trim $v "\r\n" -}}                                         {{/* удаление знаков конца перевода строк с записью в $line */}}
        {{- if (and (lt $k 2) (hasPrefix (lower $line) (lower $pageParams.title) ) ) -}} {{/* если строка первая или вторая и начинается с title */}}
	        {{- $line = printf "%s%s%s" "<h1>" $line "</h1>" -}}                         {{/* оборачивание в H1 */}}
            {{- $newLines = $newLines | append (println $line | safeHTML) -}}    {{/* добавляем перевод строки */}}
        {{- else -}}

            {{- if (or (ge $k $pageParams.textFinishAtLine) (eq $k $lastIndex)) -}} {{/* если последняя строка текста */}}
                {{- $line = replaceRE `([0-9]{4})` "<span class=\"year\">$1</span>" $line -}} {{/* обернуть год в span */}}
                {{- $newLinesAfter = $newLinesAfter | append (println $line | safeHTML ) -}} {{/* добавляем строку в $newLinesAfter + перевод строки */}}
            {{- else -}}
                {{- if gt (len (trim $line " \t")) 0 -}}                                {{/* пропускаем пустые строки */}}
                    {{- if gt $pos 0 -}}
                        {{- if and (gt (len $line) $pos) ( gt (len (findRE `[A-Ha-hm#0-9]+` $line)) 0) -}} {{/* если строка длиннее $pos, то разбить её по $pos */}}
                            {{- $p1 := substr $line 0 $pos -}}                          {{/* формирует первую подстроку до $pos */}}
                            {{- $p2 := substr $line $pos -}}                            {{/* формирует вторую подстроку от $pos */}}
                            {{- $p2 = replaceRE `([^-])>` "$1-" $p2 -}}                 {{/* замена > на - */}}
                            {{- $p2 = replaceRE `([\r\n])` "<br />" $p2 -}}             {{/* вставка br */}}
			            {{- $newLines = $newLines | append (println "<span class=\"txt\">" $p1 "</span><span class=\"ch\">" $p2 "</span>" | safeHTML) -}} {{/* добавл строки в срез $newLines, в .ch и .txt */}}
                        {{- else -}}
                            {{- $newLines = $newLines | append (println "<span class=\"txt\">" (replaceRE ` +$` "" $line) "</span>" | safeHTML) -}} {{/* добавл строки в срез $newLines, в .txt */}}
                          {{- end -}}
                    {{- else -}}
                        {{- $newLines = $newLines | append (println "<span class=\"ch\">" $line "</span>" | safeHTML) -}} {{/* оборачиваем строку в span .ch */}}
                    {{- end -}}
                {{- else -}}
                    {{- $newLines = $newLines | append "\n" -}}                         {{/* добавляем пустую строку для разделения куплетов */}}
                {{- end -}}
            {{- end -}}

        {{- end -}}
    {{- end -}}
{{- else -}}
    {{- $newLines = $newLines | append (printf "Файл с аккордами не найден (%s)" .id) -}}
{{- end -}}


<div class="view-container viewtype-source song">
    {{- with resources.Get $path -}}
        <pre>
            {{- .Content -}}
        </pre>    
    {{end}}
</div>

<div class="viewtype-side song view-container" data-key="{{- $tonality -}}">
<pre>{{- delimit $newLines "" | safeHTML -}}
{{- delimit $newLinesAfter "" | safeHTML -}}</pre>
</div>
