{{- $pageParams := . -}}
{{- $newLines := slice -}}
{{- $newLinesAfter := slice -}} 
{{- $tonality := "Hm" -}}
{{- $path := printf "texts/%s.txt" .id -}}

{{- with resources.Get $path -}}
    {{- $cont := .Content -}}
    {{- if and (isset $pageParams "tonality") (ne $pageParams.tonality "") -}}
        {{- $tonality = $pageParams.tonality -}}
    {{- else -}}
        {{- $reg := `(?s)[A-H][b\#]?(2|4|5|6|7|9|11|13|6\/9|7\-5|7\-9|7\#5|7\#9|7\+5|7\+9|b5|#5|#9|7b5|7b9|7sus2|7sus4|add2|add4|add9|aug|dim|dim7|m\/maj7|m6|m7|m7b5|m9|m11|m13|maj7|maj9|maj11|maj13|mb5|m|sus|sus2|sus4)*(\/[A-H][b\#]*)*` -}}
        {{- $tonality = delimit ( findRE $reg $cont 1 ) "" -}}
    {{- end -}}

    {{- $lines := split $cont "\n" -}}
    {{- $lastIndex := math.Sub (len $lines) 1 -}}
    {{- $pos := math.Max 0 (sub (int $pageParams.chordsStartAt)  1) -}}
    {{- range $k, $v := $lines -}}
        {{- $line := trim $v "\r\n" -}}
        {{- if (and (gt 2 $k) (hasPrefix (lower $line) (lower $pageParams.title) ) ) -}}
	{{- $line = printf "%s%s%s" "<h1>" $line "</h1>" -}}
            {{- $newLines = $newLines | append (println $line | safeHTML) -}}
        {{- else -}}

            {{- if (or (ge $k $pageParams.textFinishAtLine) (eq $k $lastIndex)) -}}
                {{- $line = replaceRE `([0-9]{4})` "<span class=\"year\">$1</span>" $line -}}
                {{- $newLinesAfter = $newLinesAfter | append (println $line | safeHTML ) -}}
            {{- else -}}
                {{- if gt $pos 0 -}}
                      {{- if and (gt (len $line) $pos) ( gt (len (delimit ( findRE `(?s)[A-Ha-hm#0-9]*` $line) "")) 0) -}}
                        {{- $p1 := substr $line 0 $pos -}}
                        {{- $p1 = replaceRE `([\s])` "&nbsp;" $p1 -}}
                        {{- $p2 := substr $line $pos -}}
                        {{- $p2 = replaceRE `([\r\n])` "<br />" (replace $p2 ">" "-") -}}
			{{- $newLines = $newLines | append (println "<span class=\"line\"><span class=\"txt\">" $p1 "</span><span class=\"ch\">" $p2 "</span></span>" | safeHTML) -}}
                      {{- else -}}
                        {{- $newLines = $newLines | append (println "<span class=\"txt\">" (replaceRE `([\s])` "&nbsp;" (replaceRE ` +$` "" $line)) "</span>" | safeHTML) -}}
                      {{- end -}}
                {{- else -}}
                    {{- $newLines = $newLines | append (println "<span class=\"ch\">" $line "</span>" | safeHTML) -}}
                {{- end -}}
            {{- if gt 2 (len $v) -}}
                {{- $newLines = $newLines | append (println $line "<br />"  | safeHTML) -}}
            {{- end -}}
            {{- end -}}

        {{- end -}}
    {{- end -}}
{{- else -}}
    {{- $newLines = $newLines | append (printf "Файл с аккордами не найден (%s)" .id) -}}
{{- end -}}

<div class="song"
data-key="{{- $tonality -}}">{{- delimit $newLines "" | safeHTML -}}
</div>
<pre>{{- delimit $newLinesAfter "" | safeHTML -}}</pre>
